Customer Segmentation with RFM Analysis
Work problem:
FLO, an online shoe store, wants to segment its customers and determine marketing strategies according to these segments. For this purpose, customers' behaviours will be defined and groups will be formed according to the clusters in these behaviours

Data Set Story :
The data set consists of information obtained from the past shopping behaviour of customers who made their last purchases from Flo as OmniChannel (both online and offline shoppers) in 2020 - 2021.

master_id = Unique customer number
order_channel = Which channel of the shopping platform is used (Android, ios, Desktop, Mobile)
last_order_channel = The channel where the last purchase was made
first_order_date= Customer's first purchase date
last_order_date = Date of the customer's last purchase
last_order_date_online = Date of the customer's last online purchase
last_order_date_offline = Date of the customer's last offline purchase
order_num_total_ever_online = Total number of purchases made by the customer on the online platform
order_num_total_ever_offline = Total number of purchases made by the customer offline
customer_value_total_ever_offline = Total price paid by the customer for offline purchases
customer_value_total_ever_online = Total price paid by the customer for online purchases
interested_in_categories_12 = List of categories the customer has shopped in the last 12 months

In [1]:
import pandas as pd
import datetime
import datetime as dt

In [2]:
pd.set_option('display.max_columns', None)

pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
df = pd.read_csv("/kaggle/input/flodataset-csv/flo_data_20k.csv")
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR]

In [4]:
def datareview(dataframe):
    print("******İlk 10 gözlem incelemesi******")
    print(dataframe.head(10))
    
    print("******Değişken isimleri******")
    print(dataframe.columns)
    
    print("******Betimsel istatistik********")
    # tranzpozunu alıyoruz daha okunaklı hale getirmek için
    print(dataframe.describe().T)
    
    print("***** Boş değerler********")
    print(dataframe.isnull().sum())

    print("******Değişken tipleri, incelemeleri.********")
    print(dataframe.info())


datareview(df)

******İlk 10 gözlem incelemesi******
                              master_id order_channel last_order_channel  \
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop
5  e585280e-aae1-11e9-a2fc-000d3a38a36f       Desktop            Offline
6  c445e4ee-6242-11ea-9d1a-000d3a38a36f   Android App        Android App
7  3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f        Mobile            Offline
8  cfbda69e-5b4f-11ea-aca7-000d3a38a36f   Android App        Android App
9  1143f032-440d-11ea-8b43-000d3a38a36f        Mobile             Mobile

  first_order_date last_order_date last_order_date_online  \
0       2020-10-30      2021-02-26             2021-02-21
1       2017-02-08      2021-02-16             2021-02-16
2       2019-11-27      2020-11-27             2020-11-27
3       2021-01-06      2021-01-17             2021-01-17
4       2019-08-03      2021-03-07             2021-03-07
5       2018-11-18      2021-03-13             2018-11-18
6       2020-03-04      2020-10-18             2020-10-18
7       2020-05-15      2020-08-12             2020-05-15
8       2020-01-23      2021-03-07             2021-03-07
9       2019-07-30      2020-10-04             2020-10-04

  last_order_date_offline  order_num_total_ever_online  \
0              2021-02-26                        4.000
1              2020-01-10                       19.000
2              2019-12-01                        3.000
3              2021-01-06                        1.000
4              2019-08-03                        1.000
5              2021-03-13                        1.000
6              2020-03-04                        3.000
7              2020-08-12                        1.000
8              2020-01-25                        3.000
9              2019-07-30                        1.000

   order_num_total_ever_offline  customer_value_total_ever_offline  \
0                         1.000                            139.990
1                         2.000                            159.970
2                         2.000                            189.970
3                         1.000                             39.990
4                         1.000                             49.990
5                         2.000                            150.870
6                         1.000                             59.990
7                         1.000                             49.990
8                         2.000                            120.480
9                         1.000                             69.980

   customer_value_total_ever_online       interested_in_categories_12
0                           799.380                           [KADIN]
1                          1853.580  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2                           395.350                    [ERKEK, KADIN]
3                            81.980               [AKTIFCOCUK, COCUK]
4                           159.990                       [AKTIFSPOR]
5                            49.990                           [KADIN]
6                           315.940                       [AKTIFSPOR]
7                           113.640                           [COCUK]
8                           934.210             [ERKEK, COCUK, KADIN]
9                            95.980                [KADIN, AKTIFSPOR]
******Değişken isimleri******
Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12'],
      dtype='object')
******Betimsel istatistik********
                                      count    mean     std    min     25%  \
order_num_total_ever_online       19945.000   3.111   4.226  1.000   1.000
order_num_total_ever_offline      19945.000   1.914   2.063  1.000   1.000
customer_value_total_ever_offline 19945.000 253.923 301.533 10.000  99.990
customer_value_total_ever_online  19945.000 497.322 832.602 12.990 149.980

                                      50%     75%       max
order_num_total_ever_online         2.000   4.000   200.000
order_num_total_ever_offline        1.000   2.000   109.000
customer_value_total_ever_offline 179.980 319.970 18119.140
customer_value_total_ever_online  286.460 578.440 45220.130
***** Boş değerler********
master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64
******Değişken tipleri, incelemeleri.********
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB
None

In [5]:
df.tail(5)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
19940,727e2b6e-ddd4-11e9-a848-000d3a38a36f,Android App,Offline,2019-09-21,2020-07-05,2020-06-05,2020-07-05,1.000,2.000,289.980,111.980,"[ERKEK, AKTIFSPOR]"
19941,25cd53d4-61bf-11ea-8dd8-000d3a38a36f,Desktop,Desktop,2020-03-01,2020-12-22,2020-12-22,2020-03-01,1.000,1.000,150.480,239.990,[AKTIFSPOR]
19942,8aea4c2a-d6fc-11e9-93bc-000d3a38a36f,Ios App,Ios App,2019-09-11,2021-05-24,2021-05-24,2019-09-11,2.000,1.000,139.980,492.960,[AKTIFSPOR]
19943,e50bb46c-ff30-11e9-a5e8-000d3a38a36f,Android App,Android App,2019-03-27,2021-02-13,2021-02-13,2021-01-08,1.000,5.000,711.790,297.980,"[ERKEK, AKTIFSPOR]"
19944,740998d2-b1f7-11e9-89fa-000d3a38a36f,Android App,Android App,2019-09-03,2020-06-06,2020-06-06,2019-09-03,1.000,1.000,39.990,221.980,"[KADIN, AKTIFSPOR]"

Omnichannel means that customers shop from both online and offline platforms. Create new variables for the total number of purchases and spend of each customer

In [6]:
df["total_number_of_purchases"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]

df["total_shopping_fee"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]

In [7]:
df.dtypes

master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
total_number_of_purchases            float64
total_shopping_fee                   float64
dtype: object

In [8]:
df['last_order_date_offline'] = pd.to_datetime(df['last_order_date_offline'])
df['last_order_date_online'] = pd.to_datetime(df['last_order_date_online'])
df['last_order_date'] = pd.to_datetime(df['last_order_date'])
df['first_order_date'] = pd.to_datetime(df['first_order_date'])

See the distribution of the number of customers, total number of products purchased and total expenditure across shopping channels.

In [9]:
df.groupby("order_channel").agg({"total_number_of_purchases": "count",
                                 "total_shopping_fee": "mean"})

               total_number_of_purchases  total_shopping_fee
order_channel
Android App                         9495             823.493
Desktop                             2735             588.783
Ios App                             2833             891.634
Mobile                              4882             620.275

List the top 10 most profitable customers.

In [10]:
df.groupby('master_id').agg({'total_shopping_fee': 'sum'}).sort_values(by='total_shopping_fee', ascending=False).head(10)

                                      total_shopping_fee
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f           45905.100
d5ef8058-a5c6-11e9-a2fc-000d3a38a36f           36818.290
73fd19aa-9e37-11e9-9897-000d3a38a36f           33918.100
7137a5c0-7aad-11ea-8f20-000d3a38a36f           31227.410
47a642fe-975b-11eb-8c2a-000d3a38a36f           20706.340
a4d534a2-5b1b-11eb-8dbd-000d3a38a36f           18443.570
d696c654-2633-11ea-8e1c-000d3a38a36f           16918.570
fef57ffa-aae6-11e9-a2fc-000d3a38a36f           12726.100
cba59206-9dd1-11e9-9897-000d3a38a36f           12282.240
fc0ce7a4-9d87-11e9-9897-000d3a38a36f           12103.150

List the top 10 customers who placed the most orders

In [11]:
df.groupby('master_id').agg({'total_number_of_purchases': 'sum'}).sort_values(by='total_number_of_purchases', ascending=False).head(10)

                                      total_number_of_purchases
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f                    202.000
cba59206-9dd1-11e9-9897-000d3a38a36f                    131.000
a57f4302-b1a8-11e9-89fa-000d3a38a36f                    111.000
fdbe8304-a7ab-11e9-a2fc-000d3a38a36f                     88.000
329968c6-a0e2-11e9-a2fc-000d3a38a36f                     83.000
73fd19aa-9e37-11e9-9897-000d3a38a36f                     82.000
44d032ee-a0d4-11e9-a2fc-000d3a38a36f                     77.000
b27e241a-a901-11e9-a2fc-000d3a38a36f                     75.000
d696c654-2633-11ea-8e1c-000d3a38a36f                     70.000
a4d534a2-5b1b-11eb-8dbd-000d3a38a36f                     70.000

Functionalising the data preparation process.

In [12]:
def data_edit(df):
    
    df["total_number_of_purchases"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]
    
    df["total_shopping_fee"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
    
    df['last_order_date_offline'] = pd.to_datetime(df['last_order_date_offline'])
    
    df['last_order_date_online'] = pd.to_datetime(df['last_order_date_online'])
    
    df['last_order_date'] = pd.to_datetime(df['last_order_date'])
    
    df['first_order_date'] = pd.to_datetime(df['first_order_date'])
    
    return df

data_edit(df).head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_number_of_purchases,total_shopping_fee
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN],5.000,939.370
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.000,2013.550
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]",5.000,585.320
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]",2.000,121.970
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR],2.000,209.980

Calculation of RFM Metrics Define Recency, Frequency and Monetary. 

Recency: It gives information such as how long the customer has been receiving service from the website / store, how long they have been a member of us. Its calculation is usually obtained by subtracting the last membership date / last order date from today.

Frequency: It is the metric that shows how often the customer shops, how often they log in to the site. It usually gives results by counting the order number/order code.

Monetary: It is the sum of the customer's spending. The turnover brought to the e-commerce site can also be defined as the return collected after the services received. Whatever the definition of turnover is, it is calculated by summing the expenditures made throughout the customer's life.

In [13]:
df["last_order_date"].max()

Timestamp('2021-05-30 00:00:00')

In [14]:
today_date = dt.datetime(2021, 6, 2)
today_date

datetime.datetime(2021, 6, 2, 0, 0)

Assign the calculated metrics to a variable named rfm

In [15]:
RFM = df.groupby('master_id').agg({'last_order_date': lambda x: (today_date - x.max()).days,
                                  'total_number_of_purchases': lambda x: x.sum(),
                                  'total_shopping_fee': lambda x: x.sum()})

In [16]:
RFM.columns= ['Recency' , 'Frequency', 'Monetary']
RFM.head()

                                      Recency  Frequency  Monetary
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f       11      5.000   776.070
00034aaa-a838-11e9-a2fc-000d3a38a36f      299      3.000   269.470
000be838-85df-11ea-a90b-000d3a38a36f      214      4.000   722.690
000c1fe2-a8b7-11ea-8479-000d3a38a36f       28      7.000   874.160
000f5e3e-9dde-11ea-80cd-000d3a38a36f       21      7.000  1620.330

Calculation of RF Score 
Convert Recency, Frequency and Monetary metrics into scores between 1-5 with the help of qcut.
Save these scores as recency_score, frequency_score and monetary_score

In [17]:
RFM["Recency_score"] = pd.qcut(RFM['Recency'], 5, labels=[5, 4, 3, 2, 1])
RFM["Frequency_score"] = pd.qcut(RFM['Frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
RFM["Monetary_score"] = pd.qcut(RFM['Monetary'], 5, labels=[1, 2, 3, 4, 5])

In [18]:
RFM.head()

,Recency,Frequency,Monetary,Recency_score,Frequency_score,Monetary_score
master_id,,,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,11,5.000,776.070,5,4,4
00034aaa-a838-11e9-a2fc-000d3a38a36f,299,3.000,269.470,1,2,1
000be838-85df-11ea-a90b-000d3a38a36f,214,4.000,722.690,2,3,4
000c1fe2-a8b7-11ea-8479-000d3a38a36f,28,7.000,874.160,5,4,4
000f5e3e-9dde-11ea-80cd-000d3a38a36f,21,7.000,1620.330,5,4,5

Express recency_score and frequency_score as a single variable and save as RF_SCORE

In [19]:
RFM["RF_SCORE"] = (RFM['Recency_score'].astype(str) + RFM['Frequency_score'].astype(str))

In [20]:
RFM.head(10)

,Recency,Frequency,Monetary,Recency_score,Frequency_score,Monetary_score,RF_SCORE
master_id,,,,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,11,5.000,776.070,5,4,4,54
00034aaa-a838-11e9-a2fc-000d3a38a36f,299,3.000,269.470,1,2,1,12
000be838-85df-11ea-a90b-000d3a38a36f,214,4.000,722.690,2,3,4,23
000c1fe2-a8b7-11ea-8479-000d3a38a36f,28,7.000,874.160,5,4,4,54
000f5e3e-9dde-11ea-80cd-000d3a38a36f,21,7.000,1620.330,5,4,5,54
00136ce2-a562-11e9-a2fc-000d3a38a36f,204,2.000,359.450,2,1,2,21
00142f9a-7af6-11eb-8460-000d3a38a36f,26,3.000,404.940,5,2,2,52
0014778a-5b11-11ea-9a2c-000d3a38a36f,27,3.000,727.430,5,2,4,52
0018c6aa-ab6c-11e9-a2fc-000d3a38a36f,127,2.000,317.910,3,1,2,31
0022f41e-5597-11eb-9e65-000d3a38a36f,13,2.000,154.980,5,1,1,51

Make segment definitions for the generated RF scores

In [21]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

Convert the scores into segments with the following seg_map

In [22]:
RFM['segment'] = RFM['RF_SCORE'].replace(seg_map, regex=True)

Analyse the recency, frequnecy and monetary averages of the segments

In [23]:
RFM[["segment", "Recency", "Frequency", "Monetary"]].groupby("segment").agg(["mean", "count"])

                    Recency       Frequency       Monetary
                       mean count      mean count     mean count
segment
about_to_sleep      115.032  1643     2.407  1643  361.649  1643
at_Risk             243.329  3152     4.470  3152  648.325  3152
cant_loose          236.159  1194    10.717  1194 1481.652  1194
champions            18.142  1920     8.965  1920 1410.709  1920
hibernating         248.426  3589     2.391  3589  362.583  3589
loyal_customers      83.558  3375     8.356  3375 1216.257  3375
need_attention      114.037   806     3.739   806  553.437   806
new_customers        18.976   673     2.000   673  344.049   673
potential_loyalists  37.870  2925     3.311  2925  533.741  2925
promising            59.695   668     2.000   668  334.153   668

In [24]:
RFM[RFM["segment"] == "need_attention"].head()

,Recency,Frequency,Monetary,Recency_score,Frequency_score,Monetary_score,RF_SCORE,segment
master_id,,,,,,,,
0033a502-5bf1-11ea-829b-000d3a38a36f,106,4.000,788.730,3,3,4,33,need_attention
003c4ebc-aa23-11e9-a2fc-000d3a38a36f,109,4.000,360.760,3,3,2,33,need_attention
00f53518-ab9e-11e9-a2fc-000d3a38a36f,89,4.000,349.940,3,3,2,33,need_attention
012fe082-b134-11e9-9757-000d3a38a36f,137,4.000,609.940,3,3,3,33,need_attention
019443fe-ab05-11e9-a2fc-000d3a38a36f,89,4.000,317.450,3,3,2,33,need_attention

With the help of RFM analysis, find the customers in the relevant profile for the 2 cases given below and save the customer ids as csv.
- FLO is adding a new women's footwear brand to its organisation. The product prices of the brand are above the general customer preferences. For this reason, it is desired to contact the customers in the profile that will be interested in the promotion of the brand and product sales. Loyal customers (champions, loyal_customers) and people who shop in the female category are the customers to be specially contacted. Save the id numbers of these customers in csv file

In [25]:
A = (RFM[(RFM["segment"]=="champions") | (RFM["segment"]=="loyal_customers")]) 
B = df[(df["interested_in_categories_12"]).str.contains("KADIN")]

In [26]:
AB_case = pd.merge(A,B[["interested_in_categories_12","master_id"]],on=["master_id"])
AB_case

,master_id,Recency,Frequency,Monetary,Recency_score,Frequency_score,Monetary_score,RF_SCORE,segment,interested_in_categories_12
0,000c1fe2-a8b7-11ea-8479-000d3a38a36f,28,7.000,874.160,5,4,4,54,champions,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]"
1,003903e0-abce-11e9-a2fc-000d3a38a36f,69,5.000,577.470,4,4,3,44,loyal_customers,[KADIN]
2,004bec18-9f7a-11e9-a2fc-000d3a38a36f,100,12.000,684.910,3,5,4,35,loyal_customers,"[ERKEK, KADIN, AKTIFSPOR]"
3,00534fe4-a6b4-11e9-a2fc-000d3a38a36f,64,16.000,800.590,4,5,4,45,loyal_customers,"[ERKEK, KADIN, AKTIFSPOR]"
4,009293fe-1f3e-11ea-87bf-000d3a38a36f,130,6.000,725.180,3,4,4,34,loyal_customers,"[COCUK, KADIN, AKTIFSPOR]"
...,...,...,...,...,...,...,...,...,...,...
2482,ffd73136-b098-11e9-9757-000d3a38a36f,101,16.000,2511.480,3,5,5,35,loyal_customers,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]"
2483,ffdd5eb8-aee9-11e9-a2fc-000d3a38a36f,16,7.000,1423.360,5,5,5,55,champions,"[COCUK, KADIN]"
2484,ffe5c7e8-ee12-11e9-9346-000d3a38a36f,76,4.000,749.840,4,4,4,44,loyal_customers,"[ERKEK, KADIN]"
2485,ffefdd18-77ca-11ea-9b70-000d3a38a36f,75,4.000,208.460,4,4,1,44,loyal_customers,"[COCUK, KADIN]"
2486,fffacecc-ddc3-11e9-a848-000d3a38a36f,133,9.000,1362.200,3,5,5,35,loyal_customers,"[COCUK, KADIN, AKTIFSPOR]"

In [27]:
AB_case= AB_case.drop(AB_case.loc[:,'Recency':'interested_in_categories_12'].columns,axis=1)
AB_case

                                 master_id
0     000c1fe2-a8b7-11ea-8479-000d3a38a36f
1     003903e0-abce-11e9-a2fc-000d3a38a36f
2     004bec18-9f7a-11e9-a2fc-000d3a38a36f
3     00534fe4-a6b4-11e9-a2fc-000d3a38a36f
4     009293fe-1f3e-11ea-87bf-000d3a38a36f
...                                    ...
2482  ffd73136-b098-11e9-9757-000d3a38a36f
2483  ffdd5eb8-aee9-11e9-a2fc-000d3a38a36f
2484  ffe5c7e8-ee12-11e9-9346-000d3a38a36f
2485  ffefdd18-77ca-11ea-9b70-000d3a38a36f
2486  fffacecc-ddc3-11e9-a848-000d3a38a36f

[2487 rows x 1 columns]

In [28]:
AB_case.to_csv("one_case_customer_information_1.csv")

Up to 40% discount is planned for Men's and Children's products. With this discount, customers who are interested in the relevant categories, who have been good customers in the past but have not been shopping for a long time, customers who should not be lost, dormant customers and new customers are wanted to be specially targeted. Save the ids of the customers in the appropriate profile in a csv file.

-Customers who have been good in the past but have not been shopping for a long time loyal and risky => At risk and about to sleep
-Sleeping customers => Hibernating
-New customers => new customers

In [29]:
C = RFM[(RFM["segment"]=="at_Risk") | (RFM["segment"]=="about_to_sleep")| (RFM["segment"]=="hibernating") | (RFM["segment"]=="new_customers")]

D = df[(df["interested_in_categories_12"].str.contains("ERKEK", case=False, na=False)) |
       (df["interested_in_categories_12"].str.contains("COCUK", case=False, na=False))]

In [30]:
CD_case = pd.merge(C, D,on=["master_id"])
CD_case

,master_id,Recency,Frequency,Monetary,Recency_score,Frequency_score,Monetary_score,RF_SCORE,segment,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_number_of_purchases,total_shopping_fee
0,00034aaa-a838-11e9-a2fc-000d3a38a36f,299,3.000,269.470,1,2,1,12,hibernating,Desktop,Offline,2015-11-09,2020-08-07,2015-11-09,2020-08-07,1.000,2.000,150.480,118.990,"[ERKEK, KADIN]",3.000,269.470
1,000be838-85df-11ea-a90b-000d3a38a36f,214,4.000,722.690,2,3,4,23,at_Risk,Android App,Offline,2020-04-16,2020-10-31,2020-04-23,2020-10-31,3.000,1.000,365.720,356.970,"[AKTIFCOCUK, AKTIFSPOR]",4.000,722.690
2,0018c6aa-ab6c-11e9-a2fc-000d3a38a36f,127,2.000,317.910,3,1,2,31,about_to_sleep,Mobile,Mobile,2019-12-01,2021-01-26,2021-01-26,2019-12-01,1.000,1.000,109.990,207.920,[AKTIFCOCUK],2.000,317.910
3,00263f1a-210a-11ea-b50a-000d3a38a36f,363,3.000,501.940,1,2,3,12,hibernating,Android App,Android App,2019-08-04,2020-06-04,2020-06-04,2019-09-26,1.000,2.000,309.950,191.990,[ERKEK],3.000,501.940
4,00266a76-312c-11ea-b884-000d3a38a36f,185,7.000,1249.580,2,4,5,24,at_Risk,Android App,Android App,2019-11-21,2020-11-29,2020-11-29,2020-02-21,5.000,2.000,270.720,978.860,"[ERKEK, COCUK, KADIN]",7.000,1249.580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4606,ffd1553a-1ed0-11ea-81ff-000d3a38a36f,183,2.000,349.970,2,2,2,22,hibernating,Mobile,Mobile,2019-03-19,2020-12-01,2020-12-01,2019-03-19,1.000,1.000,149.980,199.990,[ERKEK],2.000,349.970
4607,ffe7e6e4-5bb9-11ea-a4ac-000d3a38a36f,169,2.000,289.950,2,2,1,22,hibernating,Ios App,Ios App,2020-01-19,2020-12-15,2020-12-15,2020-01-19,1.000,1.000,99.980,189.970,"[ERKEK, KADIN]",2.000,289.950
4608,ffec351a-2a76-11ea-b3a7-000d3a38a36f,338,5.000,629.930,1,4,3,14,at_Risk,Android App,Android App,2019-06-25,2020-06-29,2020-06-29,2020-03-02,2.000,3.000,179.970,449.960,[ERKEK],5.000,629.930
4609,fffacd34-ae14-11e9-a2fc-000d3a38a36f,258,6.000,983.920,1,4,4,14,at_Risk,Ios App,Ios App,2018-10-14,2020-09-17,2020-09-17,2019-02-27,5.000,1.000,59.980,923.940,[ERKEK],6.000,983.920
4610,fffe4b30-18e0-11ea-9213-000d3a38a36f,322,4.000,524.690,1,4,3,14,at_Risk,Android App,Android App,2019-11-24,2020-07-15,2020-07-15,2020-06-26,2.000,2.000,255.460,269.230,"[ERKEK, KADIN]",4.000,524.690

In [31]:
CD_case = pd.merge(C, D[["interested_in_categories_12","master_id"]],on=["master_id"])
CD_case

,master_id,Recency,Frequency,Monetary,Recency_score,Frequency_score,Monetary_score,RF_SCORE,segment,interested_in_categories_12
0,00034aaa-a838-11e9-a2fc-000d3a38a36f,299,3.000,269.470,1,2,1,12,hibernating,"[ERKEK, KADIN]"
1,000be838-85df-11ea-a90b-000d3a38a36f,214,4.000,722.690,2,3,4,23,at_Risk,"[AKTIFCOCUK, AKTIFSPOR]"
2,0018c6aa-ab6c-11e9-a2fc-000d3a38a36f,127,2.000,317.910,3,1,2,31,about_to_sleep,[AKTIFCOCUK]
3,00263f1a-210a-11ea-b50a-000d3a38a36f,363,3.000,501.940,1,2,3,12,hibernating,[ERKEK]
4,00266a76-312c-11ea-b884-000d3a38a36f,185,7.000,1249.580,2,4,5,24,at_Risk,"[ERKEK, COCUK, KADIN]"
...,...,...,...,...,...,...,...,...,...,...
4606,ffd1553a-1ed0-11ea-81ff-000d3a38a36f,183,2.000,349.970,2,2,2,22,hibernating,[ERKEK]
4607,ffe7e6e4-5bb9-11ea-a4ac-000d3a38a36f,169,2.000,289.950,2,2,1,22,hibernating,"[ERKEK, KADIN]"
4608,ffec351a-2a76-11ea-b3a7-000d3a38a36f,338,5.000,629.930,1,4,3,14,at_Risk,[ERKEK]
4609,fffacd34-ae14-11e9-a2fc-000d3a38a36f,258,6.000,983.920,1,4,4,14,at_Risk,[ERKEK]
4610,fffe4b30-18e0-11ea-9213-000d3a38a36f,322,4.000,524.690,1,4,3,14,at_Risk,"[ERKEK, KADIN]"

In [32]:
CD_case= CD_case.drop(CD_case.loc[:,'Recency':'interested_in_categories_12'].columns,axis=1)

In [33]:
CD_case.to_csv("second_case_customer_information_2.csv",index=False)